.photographe__section {
  width: 92%;
  padding-left: 5rem;
}

.photographepage {
  background-color: #fafafa;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 3rem 2rem;
}

.photographepage__title {
  font-size: 64px;
  line-height: 4rem;
  margin: 0rem;
  color: #d3573c;
}

.photographepage__localisation {
  font-size: 24px;
  font-weight: bold;
  margin: 1rem 0.2rem;
  color: #901C1C;
}

.photographepage__tagline {
  height: 23px;
  width: 348px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.photographepage__photo {
  border-radius: 50%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  text-decoration: none;
  width: 250px;
}

.photographepage__taglist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.2rem;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -2.5rem;
}

.photographepage__taglist1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.2rem;
  width: 20%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -2.5rem;
}

.photographepage__tags {
  border-radius: 12px;
  border: 1px solid #c4c4c4;
  color: #911c1c;
  margin-right: 10px;
  margin-top: 10px;
  padding: 0rem 0.5rem;
  text-decoration: none;
}

.photographepage__button {
  background-color: #911c1c;
  border-radius: 5px;
  border: none;
  bottom: 1rem;
  color: white;
  cursor: pointer;
  font-size: 23.44px;
  height: 60px;
  width: 200px;
}

.menu {
  margin-left: 5rem;
}

select {
  background-color: #911c1c;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 18px;
  height: 59px;
  padding: 0.2rem;
  margin-top: 2rem;
  width: 170px;
}

.photographegallery {
  display: -ms-grid;
  display: grid;
  gap: 4rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;
}

.photographegallery__card {
  width: 89%;
  height: 350px;
  margin-left: -0.5rem;
}

.photographegallery__photop {
  display: block;
  cursor: pointer;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.photographegallery__photop1 {
  height: 18.5rem;
}

.photographegallery__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.photographegallery__figcaption {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.photographegallery__like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.photographegallery__section-button {
  margin-top: 0.5rem;
  height: 2rem;
  width: 2rem;
  color: #911c1c;
  border: 0 solid transparent;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
}

.photographegallery__video {
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.photographegallery__chiffre {
  margin-left: 7rem;
}

.contactmodal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 150rem;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.contactmodal__content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  background-color: #db8776;
  border-radius: 10px;
  padding: 0rem 2rem 9rem 2rem;
  overflow: hidden;
  position: relative;
  padding-top: 10px;
}

.contactmodal__header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactmodal__titre {
  font-size: 36px;
  line-height: 46.87px;
}

.contactmodal__close {
  color: #000;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.contactmodal__formf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
}

.contactmodal__label {
  font-size: 20px;
  font-weight: 400;
}

.contactmodal__input {
  border-radius: 5px;
  border: none;
  height: 52px;
  width: 98%;
  font-size: 20px;
  padding-left: 10px;
}

.contactmodal__message {
  height: 184px;
  border: none;
  border-radius: 5px;
}

.contactmodal__button {
  background-color: #911c1c;
  border-radius: 5px;
  border: none;
  bottom: 1rem;
  color: white;
  cursor: pointer;
  font-size: 23.44px;
  height: 60px;
  width: 200px;
  position: absolute;
  left: 11.5rem;
  bottom: 3rem;
}

/* texte erreur */
.erreur {
  font-size: 100%;
  color: #b60505;
  margin-top: 5px;
}

/*bordure erreur */
.form_erreur {
  border: solid #f00020 0.19rem;
}

.form_valid {
  border: solid #078a03 0.19rem;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(212, 212, 212, 0.829);
  z-index: 1000;
}

.lightbox__contenant {
  width: 70%;
  margin: auto;
  max-width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.lightbox__close {
  color: #9c5d50;
  font-size: 3em;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.lightbox__titre {
  font-size: 20px;
  color: #9c5d50;
  position: fixed;
  left: 45%;
  top: -20px;
}

.lightbox__img {
  width: 100%;
  height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 35px;
}

.lightbox__next {
  color: #d3573c;
  position: fixed;
  top: 400px;
  right: -100px;
  cursor: pointer;
}

.lightbox__back {
  color: #d3573c;
  position: fixed;
  top: 400px;
  left: -100px;
  cursor: pointer;
}

.fa-angle-right {
  width: 200%;
}

.lightbox.show {
  display: initial;
}

.coeur {
  cursor: pointer;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: 1s all ease;
}

.coeur2 {
  cursor: pointer;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  position: absolute;
  display: none !important;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: 1s all ease;
}

.coeur2.show {
  display: initial !important;
}

.totallike {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #DB8876;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  height: 69px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  right: 3rem;
  width: 276px;
}

.totallike__contenant {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=photographepage.css.map */